@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<CoreCrudApp.Models.Entities.Student>

<h1>Students</h1>


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Subscirbed</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Email</td>
                <td>@student.Phone</td>
                <td>@student.Subscribed</td>
                <td>
                    <a asp-controller="Students" asp-action="Edit" asp-route-id="@student.Id" class="btn btn-info">Edit</a>
                    <a asp-controller="Students" asp-action="Delete" asp-route-id="@student.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>